// Place all the styles related to the JobPost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#event_subheader {
  margin-bottom: 40px;
}

#has_event {
  font-weight: bold;
  margin-right: 5px;
}

#preference_tooltip {
  margin-bottom:20px;
}

.tags_list {
  list-style-type: none;
  li {
    input{
      margin-right:2px;
    }
  }
}

.preference_tag {
  margin-top: 4px;
  margin-left: 2px;
  margin-right:2px;
}

.match_count_container {
  padding-top: 7px;
  padding-bottom: 7px;
}

.match_count {
  font-weight: bold;
}

.total {
  font-size: 20px;
}

.underline {
  text-decoration: underline;
}
