// Place all the styles related to the JobPost controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#event_subheader {
  margin-bottom: 40px;
}

#has_event {
  font-weight: bold;
  margin-right: 5px;
}
